.todo-element-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 70px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 36px;
    border-bottom: 1px dashed rgba(143, 168, 193, 0.3);
}
.todo-element-container p {
    width: 300px;
    word-wrap: break-word;
}
.todo-element-container p:hover {
    cursor: pointer
}
.buttons-container button {
    background: #152431;
    border: 0;
    padding-left: 11px;
}
.buttons-container button:hover {
    cursor: pointer;
}
.buttons-container button img {
    background-size: contain;
    background-position: center;
    filter: brightness(.6);
}
.buttons-container button img:hover {
    filter: brightness(1);
}
